.checkBox {
  position: relative;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border-radius: 8px;
  overflow: hidden;
  border: 2px solid rgba(255, 255, 255, 0);
  outline: 2px solid var(--main-text-colour1);
  
  .goIn {
    top: -42px;
    left: -42px;
    position: absolute;
    background-color: var(--main-text-colour1);
    width: 48px;
    height: 48px;
    transform: rotateZ(45deg);
    z-index: -1;
    
    transition-timing-function: ease;
    transition-duration: 300ms;
    transition-property: top left;
  }
  
  input {
    opacity: 0;
    width: 26px;
    height: 26px;
    position: absolute;
    top: -4px;
    left: -4px;
    cursor: pointer;
    
    &:checked + .goIn {
      top: -6px;
      left: -6px;
    }
  }
}

.button0 {
  font-size: 16px;
  padding: 12px;
  border: 1px solid #9d8f5d;
  background-color: var(--main-text-colour0);
  color: var(--main-bg-colour0);
  border-radius: 8px;
  
  transition-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
  transition-duration: 200ms;
  transition-property: color background-color;
  
  &:hover {
    background-color: transparent;
    color: var(--main-text-colour0)
  }
}

.input0 {
  font-size: 16px;
  padding: 12px;
  border: 1px solid var(--main-text-colour3);
  background-color: transparent;
  border-radius: 8px;
  transition-timing-function: ease;
  transition-duration: 150ms;
  transition-property: outline outline-offset;
  
  &::placeholder {
    color: var(--main-text-colour2);
    font-size: 14px;
  }
  
  &:focus, &:active {
    outline: 2px solid var(--main-text-colour1);
    outline-offset: 1px;
  }
}

@media (min-width: 768px) {
  .input0, .button0 {
    font-size: 20px;
  }

  .input0::placeholder {
    font-size: 16px;
  }
}

.inputLabelPair {
  display: flex;
  flex-direction: column;  
  gap: 4px;

  label {
    font-size: 16px;
  }

  @media (min-width: 768px) {
    label {
      font-size: 20px;
    }
  }
}

.authMessage {
  margin: 0 auto;
  margin-bottom: 16px;
  max-width: 500px;

  img {
    width: 64px;
    height: 64px;
  }

  h1 {
    font-size: 40px;
    font-weight: 500;
  }

  p {
    color: var(--main-text-colour1);
    font-size: 18px;
  }
}

form.authForm {
  margin: 0 auto;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  .errorMsg {
    padding: 12px;
    background-color: #e79085;
    border-radius: 8px;
    color: white;

    display: none;
    &.visible {
      display: block;
    }
  }
  
  .showPassword {
    display: flex;
    gap: 8px;
    align-items: center;      
  }
}
