.entry {
  height: 100%;
  display: flex;
}

.authSection {
  flex: 1;
  align-self: center;
}

.homepage {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
  
  .epicContent {
    overflow-y: auto;
    flex-grow: 1;

    background-color: var(--main-bg-colour1);
    border-radius: 16px;
    padding: 20px 16px;
    
    display: flex;
    gap: 12px;
    
    > * {
      flex-grow: 1;
    }
   
    @media (min-width: 768px) {
      padding: 36px;
    }
  }
  
  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.title {
  font-weight: 500;
  font-size: 24px;
}

.profile { 
  display: flex;
  flex-direction: column;
  gap: 16px;
  
  .profilePicture {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    
    p {
      font-size: 20px;
    }
    
    img.pic {
      border: 2px solid rgba(255,255,255,0);
      outline: 4px solid rgba(255,255,255,255);
      outline-offset: 4px;
      width: 96px;
      border-radius: 50%;
      
      @media (min-width: 768px) {
        width: 128px;
      }
    }
  }
  
  .details {
    display: flex;
    flex-direction: column;
    gap: 24px;
    .labelInputPair {
      display: flex;
      flex-direction: column;
      gap: 8px;
      
      div {
        display: flex;
        align-items: center;
        gap: 8px;
        img {
          width: 24px;
        }
        label {
          color: #b0a3b7;
        }
        div {
          margin-left: auto;
        }
      }
      
      input, textarea {
        background-color: var(--main-bg-colour0);
      }
      
      .focused {
        background-color: var(--main-bg-colour1);
      }
    }
  }
  
  .divider {
    border: 1px solid var(--main-bg-colour0);
  }
  
  .moreDetails {
    li {
      display: flex;
      justify-content: space-between;
      p:last-child {
        color: var(--main-text-colour2);
      }
    }
  }
}

.home {  
  ul {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    li {
      a {
        border: 1px solid transparent;
        padding: 8px;
        border-radius: 8px;
        
        &, .name, .recentMessage {
          transition-timing-function: ease;
          transition-duration: 200ms;
          transition-property: border;
        }
        
        display: flex;
        align-items: center;
        gap: 12px;
        img {
          width: 50px;
        }
        
        .name {
          color: var(--main-text-colour0);
          font-weight: 500;
        }
        
        .recentMessage {
          font-weight: 300;
          color: var(--main-text-colour2);
          font-size: 14px;
        }
        
        &:hover {
          border: 1px solid var(--main-bg-colour2);
        }
      }
    }
  }
}

.explore {
  .userList {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 16px;
    
    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
    
    li {
      display: flex;    
      flex-direction: column;
      align-items: center;
      padding: 24px;
      background-color: var(--main-bg-colour0);
      border-radius: 12px;
      
      img {
        width: 64px;
      }
      
      .right {
        p {
          text-align: center;
          font-size: 16px;
        }
        
        .buttons {
          margin-top: 8px;
          display: flex;
          gap: 8px;
          a, button {
            font-size: 14px;
            padding: 4px 12px;
          }
        }
      }
    }
  }
}

.messaging {
  display: flex;
  flex-direction: column;
  gap: 8px;
}