.entry {
  height: 100%;
  display: flex;
}

.authSection {
  flex: 1;
  align-self: center;
}

.homepage {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  
  .epicContent {
    overflow-y: auto;
    flex-grow: 1;
  }
  
  @media (min-width: 768px) {
    flex-direction: row;
  }
}